<app-header (onLoadRecipes)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="toLoad === 'recipes'"></app-recipes>
      <app-shopping-list *ngIf="toLoad === 'shoppingList'"></app-shopping-list>
      <div style="margin-top: 40px">
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </div>
    </div>
  </div>
</div>
